body{
	color: white;
	font-family: 'Consolas', monaco, monospace;
	background-color: #2d2d2d;
    margin: 3em 5em;
}
h1{
    padding-top: 0.5em;
    color: #fe3535;
    font-weight: bold;
}
h1:before{
	content: "# ";
}
h1:after{
	content: "\A-----";
	white-space: pre;
}
h2{
    padding-top: 0.5em;
    color: #7dfd66;
    font-weight: bold;
}
h2:before{
	content: "## ";
}
h3{
    padding-top: 0.5em;
    color: #9e00ff;
    font-weight: bold;
}
h3:before{
	content: "### ";
}
a{
	text-decoration: none;
	color: #00f4ff;
}
div {
    background-color: #0f0f0f;
    border: white 1px solid;
    border-radius: 8px;
}
div pre{
    margin-left: 1em;
}
