body{
    color: white;
    font-family: 'Consolas', monaco, monospace;
    background-color: #2d2d2d;
    margin: 3em 5em;
}
h1{
    padding-top: 0.5em;
    color: #fe3535;
    font-weight: bold;
}
h1:before{
    content: "# ";
}
h2{
    padding-top: 0.5em;
    color: #7dfd66;
    font-weight: bold;
    margin-bottom: 0;
}
h2:before{
    content: "## ";
}
h2:after{
    content: "";
    display: block;
    border: 1px solid #270227;
}
h3{
    padding-top: 0;
    color: #9e00ff;
    font-weight: bold;
    margin-bottom: 0;
}
h3:before{
    content: "### ";
}
a {
    color:white;
    text-decoration:underline;
    text-decoration-color: #826200;
    text-decoration-skip-ink:none;
    text-decoration-thickness:0.3rem;
    text-underline-offset:-0.25rem;
    transition:text-decoration 0.3s;
}
a:hover{text-decoration-color:#826200;text-decoration-skip-ink:none;text-decoration-thickness:0.5rem;}
div {
    background-color: #0f0f0f;
    border: white 1px solid;
    border-radius: 8px;
}
div pre{
    margin-left: 1em;
}
p{
    margin: 0;
    margin-bottom: 0.5em;
}

body details{
    display: none;
}

